/* CSS Reset Rule */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Variables Storage */
:root {
    /* Containers Main Colors */
    
    /* Header Section */
    --head-bg-color: rgb(173, 216, 230);
    --nav-bg-color: rgb(218, 165, 32);

    --hero-bg-color: rgb(0, 0, 139);
    --carousel-bg-color: rgb(238, 130, 238);

    /* Main Content */  
    --cont-bg-primary: rgb(30, 144, 255);
    --cont-bg-secondary: rgb(255, 192, 203);
    --main-bg-section: rgb(211, 211, 211);

    --cont-bg-special: rgb(34, 139, 34);

    /* Footer Top Section */
    --foot-bg-color: rgb(35, 39, 42);

    --column-bg-primary: rgb(240, 128, 128);
    --column-bg-color: rgb(32, 178, 170);

    /* Footer Bottom Section */
    --cont-bg-color: rgb(127, 255, 212);
    --button-bg-color: rgb(255, 182, 193);
}